/* Importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.dm-sans-medium {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
}

.dm-sans-bold {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 750;
    font-style: normal;
    font-size: 3rem;
  }

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif !important;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 450;
  font-style: normal;
}

.imagen-logo {
    scale: 0.7;
}

/* Classes com relação aos botões */

.btn-primary {
  background-color: #7AF0A4 !important;
  border-color: #56AD75 !important;
  color: black !important;
  font-size: 1.4rem !important;
  font-weight: 1000 !important;
}

.btn-primary:hover{
  background-color:  #56AD75 !important;
  border-color: #4e9c69 !important
}

.btn-salvar {
  background-color: #7AF0A4 !important;
  border-color: #56AD75 !important;
  color: black !important;
  font-size: 1.4rem !important;
  font-weight: 400 !important;
}

.btn-salvar:hover{
  background-color:  #56AD75 !important;
  border-color: #4e9c69 !important
}

.btn-editar {
  background-color: #7AEBEF !important;
  border-color: #6dd3d6 !important;
  color: black !important;
  font-size: 1.4rem !important;
  font-weight: 400 !important;
}

.btn-editar:hover{
  background-color:  #6dd3d6  !important;
  border-color: #64c0c4  !important
}

.btn-excluir {
  background-color: #7AA1F0 !important;
  border-color: #6e91d8 !important;
  color: black !important;
  font-size: 1.4rem !important;
  font-weight: 400 !important;
}

.btn-excluir:hover{
  background-color:  #6e91d8 !important;
  border-color: #607fbd !important
}

/* Classes Principais - Página de Login*/

@media max-width100px{
  .border-zero{
    border-right: 0 !important;
  }
}
  
.row-login{
  background: #7AEBEF;
  height: 100%;
}

.input{
  height: 45px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  margin-bottom: 20px;
  color: #40414a;
}

.input label{
margin-top: -20px;
}

.vh-100{
  min-height: 100vh;
  display: flex;
}

.coluna-login{
  border: 1cm black;
  border-radius: 10px 10px 10px 10px;
  background: #F9FDFF;
  width: 10vw;
}

.background-holder{
  position: absolute;
  width: 50vw;
  min-height: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-size: cover;
  background-position: center;

}

.divider-content-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;
  background-color: #F9FDFF;
}

.divider{
  width: 30vw;
}

.hover-verde:hover{
  background-color: #7AF0A4;
  transition: ease-in-out 0.4s;
}

.hover-azul:hover{
  color: #7AEBEF;
  transition: ease-in-out 0.4s;
}

body{
  height: 100%;
  width: 100%;
}
